/*
Add styles or override the theme's variables here.
*/

  // Theme colors
  $enable-gradients: false;
  $enable-shadows: false;
  
  $primary: #1985A1;
  $secondary: #FFFFFF;
  $info: #46494C;
  $dark: #46494C;
  $light: #C5C3C6;
  
  // Navbar colors
  
  $white: #ffffff;
  $navbar-dark-color: #1f1e1e;
  $navbar-dark-hover-color: #797979;
  $navbar-dark-active-color: $navbar-dark-color;

  // Fonts

  $google_font_name: "Open Sans";
  $google_font_family: "Open+Sans:400,400i,700,700i";