{{ define "main" }}

<a class="td-offset-anchor"></a>

<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
<div class="container text-left">
  <h2><b>Vision</b></h2>
  <p>Everyone can collaborate in software projects without getting stopped by technical barriers.</p>
  <h2><b>Mission</b></h2>
  <p>Create and maintain tools that allow everyone to productively work under the container-native paradigm.</p>
  <h2><b>Community Values</b></h2>
<ul>
<li>Engage with container-native paradigm enthusiasts.</li>
<li>Acquire and create knowledge that is otherwise difficult to attain elsewhere.</li>
<li>Minimize waste, both in terms of time and resources.</li>
</ul>
</div>
</section>

{{ partial "community_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
