{{ define "main" }}

<a class="td-offset-anchor"></a>

<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
<div class="container text-center td-arrow-down">
  <span class="h4 mb-0">
  <h2><i>Mission</i></h2>
  <p>Tear down technical barriers to enable everyone to collaborate in software projects.</p>
  <p>&nbsp;</p>
  <h2><i>Vision</i></h2>
  <p>Create and maintain a suite of container-native tools to minimize technical friction in software projects.</p>
  <p>&nbsp;</p>
  <h2><i>Community Values</i></h2>
<ul>
1. Meet other people interested in issues relevant to the container-native paradigm practice.
<br>
2. Acquire knowledge that is otherwise difficult to attain elsewhere.
<br>
3. Minimize <i>waste</i>, both in terms of time and resources.
</ul>
</div>
</section>

{{ partial "community_links.html" . }}

<div class="td-content">
{{ .Content }}
</div>

{{ end }}
