+++
title = "Popper"
linkTitle = "Popper"

+++

{{< blocks/cover title="Popper" height="max" color="white" >}}
<div class="mx-auto">
	<p class="lead mt-5"> A container-native workflow execution engine</p>
	<div class="mx-auto mt-5">
	<a class="btn btn-lg btn-info mr-3 mb-4" href="https://popper.readthedocs.io/en/latest/sections/getting_started.html">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/getpopper/popper">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
</div>
	<div class="mx-auto mt-5">
		{{<blocks/link-down color="light">}}
	  </div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}
Popper is a container-native workflow execution and task automation engine. In practice, 
when we work following the container-native paradigm, we end up interactively executing 
multiple <i>docker pull|build|run</i> 

 The goal of Popper is to bring order to this chaotic scenario by providing a framework for clearly 
 and explicitly defining container-native tasks.
{{% /blocks/lead %}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fa-lightbulb" title="An abstraction over container runtimes!" %}}
In addition to [Docker](https://docs.docker.com), Popper can seamlessly execute workflows in other runtimes by interacting with distinct container engines. 

Popper currently supports [Singularity](https://sylabs.io) and we are working on adding [Podman](https://podman.io).
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/getpopper/popper" %}}
We do a [Pull Request](https://github.com/getpopper/popper/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/getpopper" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
{{< /blocks/section >}}