+++
title = "Popper"
linkTitle = "Popper"

+++

{{< blocks/cover title="Popper" subtitle="" image_anchor="smart" color="white" height="med">}}
<img src="/images/wfyml.png" class="ml-5 float-right">
<div class="mx-auto">
    <p class="lead mt-5"> A container-native task automation engine that runs on distinct container engines, orchestration frameworks and CI services. Write simple YAML files, run everywhere.</p>
    <div class="mx-auto mt-5">
	<a class="btn btn-lg btn-info mr-3 mb-4" href="https://popper.readthedocs.io/en/latest/sections/getting_started.html">
	    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/getpopper/popper/blob/master/CONTRIBUTING.md#contributing-to-popper">
	    Contribute <i class="fas fa-code-branch ml-2 "></i>
	</a>
    </div>
</div>
{{< /blocks/cover >}}


{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fa-lightbulb" title="An abstraction over container runtimes!" %}}
In addition to [Docker](https://docs.docker.com), Popper can seamlessly execute workflows in other runtimes by interacting with distinct container engines. 

Popper currently supports [Singularity](https://sylabs.io) and we are working on adding [Podman](https://podman.io).
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/getpopper/popper" %}}
We do a [Pull Request](https://github.com/getpopper/popper/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/getpopper" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
{{< /blocks/section >}}
